<div class="container">

    <div class="page-title">
        <h1>Machine Park Dashboard</h1>
        <p class="lead">Total number of machines: {{machines.length}}</p>
    </div>

    <div class="row" style="padding:15px">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
                <label for="nameFilter">Filter:</label>
                <input class="form-control" id="nameFilter" type="text" ng-model="nameFilter" style="width:auto;display:inline-block;">
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
            <div class="form-group">
                <label for="type">Type:</label>
                <select class="form-control" id="type" ng-model="typeFilter" style="width:auto;display:inline-block;">
                    <option value="">All types</option>
                    <option value="{{type}}" ng-repeat="type in types">{{type}}</option>
                </select>
            </div>
        </div>
        <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
            <div class="form-group">
                <label for="status">State:</label>
                <select class="form-control" id="status" ng-model="stateFilter" style="width:auto;display:inline-block;">
                    <option value="">All</option>
                    <option value="working">working</option>
                    <option value="!working">!working</option>
                </select>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
            <div class="checkbox">
                <label><input type="checkbox" ng-model="onlyAlertMachines">only machines in alert!</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div ng-repeat="machine in machines | orderBy:'name' | filter:{name:nameFilter, type:typeFilter, state:stateFilter} | filter:filterOnlyAlertMachines" class="col-xs-6 col-sm-3 col-md-3 col-lg-3" style="padding-right:10px; padding-left:10px;">
            <div class="panel panel-default">
                <div class="panel-body" ng-class="[{'panel-body-orange': machine.state !== 'working'},
                {'panel-body-red': machine.current > machine.current_alert}]">
                    <div class="panel-machine-name">{{machine.name}}</div>
                    <div>type: {{machine.type}}</div>
                    <div>state: {{machine.state}}</div>
                    <div>current: {{machine.current}}</div>
                    <div>current alert: {{machine.current_alert}}</div>
                </div>
            </div>
        </div>
    </div>

</div><!-- /.container -->