@(title: String)
<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="HeaderCtrl">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/" ng-click="selected('challenge1')">@title</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{'active':selectedChallenge1}"><a href="#/" ng-click="selected('challenge1')">Challenge 1</a></li>
                <li ng-class="{'active':!selectedChallenge1}"><a href="#/challenge2" ng-click="selected('challenge2')">Challenge 2</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>